@import "tailwindcss";

/* Custom styles untuk Swiper Pagination */
.hero-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 1;
    transition: all 0.3s;
}
.hero-pagination .swiper-pagination-bullet-active {
    width: 24px;
    border-radius: 8px;
    background-color: white;
}
.berita-pagination .swiper-pagination-bullet {
    background-color: #047857; /* Warna emerald */
    opacity: 0.5;
}
.berita-pagination .swiper-pagination-bullet-active {
    opacity: 1;
}

